__pycache__/
*.pyc
.coverage
.venv
.mypy_cache/
virtualenv
MANIFEST
build/
dist/
.cache/
*.egg-info
.idea/
.python-version
# prevent commit any materials
*.png
*.jpg
*.mp3
*.mp4

_build
_static
_templates